@font-face {
	font-family: 'feather';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/feathericon.woff') format('woff');
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	outline: none;
}

ol,
ul{
	padding:0;
	margin:0;
	list-style:none;
}

#onlyScroll{
	left:auto !important;
	right:0 !important;
	opacity: 1 !important;
}

#onlyScroll .nicescroll-cursors{
	width:2px !important;
	margin:4px 2px 4px 0 !important;
	background-color: #f1f1f1 !important;
	border:none !important;
}

.animate-outToRight .menu__item {
	-webkit-animation: outToRight 0.3s both cubic-bezier(0.7, 0, 0.3, 1);
	animation: outToRight 0.3s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes outToRight {
	to {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

@keyframes outToRight {
	to {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

.animate-outToLeft .menu__item {
	-webkit-animation: outToLeft 0.3s both cubic-bezier(0.7, 0, 0.3, 1);
	animation: outToLeft 0.3s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes outToLeft {
	to {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
}

@keyframes outToLeft {
	to {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
}

.animate-inFromLeft .menu__item {
	-webkit-animation: inFromLeft 0.3s both cubic-bezier(0.7, 0, 0.3, 1);
	animation: inFromLeft 0.3s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes inFromLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes inFromLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.animate-inFromRight .menu__item {
	-webkit-animation: inFromRight 0.3s both cubic-bezier(0.7, 0, 0.3, 1);
	animation: inFromRight 0.3s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes inFromRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes inFromRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

/* Sidebar Menu */

.menu {
	direction: rtl;
	position: fixed;
	top: 0;
	right: 0;
	width: 300px;
	height: 100%;
	background-color: #121212;
	z-index: 999999;
}

.menu__wrap {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: calc(100% - 67px);
}

.menu__level {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	padding: 10px 0;
	z-index: 10;
}

.menu__level--current {
	visibility: visible;
	z-index: 20;
}

.menu__item {
	display: block;
	width: 100%;
}

.menu__link {
	position: relative;
	display: block;
	font-size: 13px;
	color: #bdbdbd;
	text-decoration: none;
	padding: 10px 20px;
	-webkit-transition: color .2s;
	transition: color .2s;
}

.menu__link[data-submenu]{padding: 10px 20px 10px 35px;}
.menu__link[data-submenu]::after {
	content: '\f198';
	position: absolute;
	left: 12px;
	font-family: 'feather';
	color: #3a3a3a;
	padding: 0.25em;
	-webkit-transition: color .2s;
	transition: color .2s;
}

.menu__link:hover,
.menu__link[data-submenu]:hover::after{color: #5c5edc !important;}

[class^='animate-'],
[class*=' animate-'] {visibility: visible;}

.menu__breadcrumbs {
	position: relative;
	padding: 12px 15px 10px 15px;
	background-color: #1c1d22;
}

.menu__breadcrumbs a {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	color: #fefefe;
	margin:8px 0;
	cursor: pointer;
	user-select: none;
	-webkit-transition: color .2s;
	transition: color .2s;
}

.menu__breadcrumbs a:not(:last-child):hover{color: #8182e0;}
.menu__breadcrumbs a:last-child{cursor: default;}

.menu__breadcrumbs a:not(:last-child)::after {
	content: '\f101';
	display: inline-block;
	vertical-align: middle;
	font-family: 'feather';
	font-size: 12px;
	padding: 0 9px;
	color: #4a4a4a;
}

.action {
	position: fixed;
	top: 12px;
	left: 12px;
	display: block;
	width: 30px;
	height: 30px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: none;
	border-radius: 2px;
}

.action:focus {outline: none;}

.action--open {
	display: none;
	background-color: #121212;
	z-index: 9999999;
}

.hidden-item{display: none !important;}

.action--open::after{
	content: '\f105';
	position: absolute;
	top:3.5px;
	left:6px;
	display: inline-block;
	vertical-align: middle;
	font-family: 'feather';
	font-size: 24px;
	color:#fefefe;
}

.action--close {
	display: none;
	background-color: transparent;
	z-index: 99999999;
}

.action--close::after{
	content: '\f114';
	position: absolute;
	top:3.5px;
	left:6px;
	display: inline-block;
	vertical-align: middle;
	font-family: 'feather';
	font-size: 22px;
	color:#fefefe;
}

#sidebar-menu.type-2 .menu{background-color: #f6f6f6;}
#sidebar-menu.type-2 .menu__link{color:#2e2e2e;}
#sidebar-menu.type-2 .menu__breadcrumbs{background-color: #cfcfcf;}
#sidebar-menu.type-2 .menu__breadcrumbs a{color:#4a4a4a;}
#sidebar-menu.type-2 .action--open{background-color: #f6f6f6;}
#sidebar-menu.type-2 .action--open::after{color:#121212;}
#sidebar-menu.type-2 .action--close::after{color:#3a3a3a;}
#sidebar-menu.type-2 #onlyScroll .nicescroll-cursors{background-color: #2e2e2e !important;}

@media screen and (max-width: 980px) {
	.action--open,
	.action--close {display: block;}

	.menu__breadcrumbs{padding-left: 60px;}

	.menu {
		z-index: 1000;
		top: 0;
		width: 100%;
		height: 100vh;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		-webkit-transition: -webkit-transform 0.3s;
		transition: transform 0.3s;
	}
	.menu--open {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	.menu__link{font-size: 12px;}
	.menu__breadcrumbs a{font-size: 11px;}
}

/* Navigation Menu */

#navigation-menu {
	direction: rtl;
	float: right;
	width: auto;
	text-align: right;
}

#navigation-menu nav > ol > li{
	position: relative;
	display: inline-block;
	margin:0 10px;
}

#navigation-menu nav > ol > li:first-child{margin-right: 20px;}
#navigation-menu nav > ol > li:last-child{margin-left: 0;}

#navigation-menu nav > ol > li > a{
	position: relative;
	display: inline-block;
	font-size: 12px;
	color:#bdbdbd;
	padding:15px 0;
	user-select: none;
	-webkit-transition: color .2s;
	transition: color .2s;
}

#navigation-menu nav > ol > li.has-submenu > a::after{
	content: '\f121';
	display: inline-block;
	vertical-align: middle;
	font-family: 'feather';
	font-size: 12px;
	color:#a4a4a4;
	margin-right: 10px;
	-webkit-transition: color .2s;
	transition: color .2s;
}

#navigation-menu nav > ol > li > a:hover,
#navigation-menu nav > ol > li > a.dl-trigger.dl-active,
#navigation-menu nav > ol > li > a.dl-trigger.dl-active::after,
#navigation-menu nav > ol > li.has-submenu > a:hover::after{color: #5c5edc !important;}

/* Common styles of menus */

.dl-trigger.active,
.dl-menu li > a:not(:only-child).active,
.dl-trigger.active::after,
.dl-menu li > a:not(:only-child).active::after{color:#5c5edc !important;}

.dl-menuwrapper {
	position: absolute;
	width: 160px;
	margin: 8px 0 0 0;
	visibility: hidden;
	opacity: 0;
	background-color: #121212;
	border-radius: 4px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform:translateY(20px);
	transform:translateY(20px);
	z-index: 999999;
}

.dl-menuwrapper.active{
	visibility: visible;
	opacity: 1;
	-webkit-transform:translateY(0);
	transform:translateY(0);
}

.dl-menuwrapper::before{
	content:'';
	position: absolute;
	top:-3px;
	right: 20px;
	width:8px;
	height: 8px;
	background-color: #121212;
	border-radius: 2px;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}

.dl-menuwrapper li a {
	position: relative;
	display: block;
	line-height: 20px;
	font-size: 12px;
	color: #f1f1f1;
	padding: 7px 15px 7px 30px;
	outline: none;
	user-select: none;
	-webkit-transition: color .2s;
	transition: color .2s;
}
.dl-menuwrapper li:first-child{margin-top:9px;}
.dl-menuwrapper li:last-child{margin-bottom: 9px;}

.dl-menuwrapper li a:hover,
.dl-menuwrapper li > a:hover::after{color: #5c5edc !important;}

.dl-menuwrapper li > a:not(:only-child)::after {
	content: "\f198";
	position: absolute;
	top: 8px;
	left: 10px;
	display: inline-block;
	font-family: 'feather';
	color: #3a3a3a;
	padding: 0.25em;
	-webkit-transition: color .2s;
	transition: color .2s;
}

.dl-submenu{
    position: absolute;
    top:0;
    left: -170px;
    width: 160px;
    visibility: hidden;
    opacity: 0;
    border-radius: 4px;
    background-color: #121212;
    -webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform:translateX(-20px);
	transform:translateX(-20px);
}

.dl-submenu::before{
	content:'';
	position: absolute;
	top:15px;
	right: -3px;
	width:8px;
	height: 8px;
	background-color: #121212;
	border-radius: 2px;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}

.dl-submenu.active{
	visibility: visible;
	opacity: 1;
	-webkit-transform:translateX(0);
	transform:translateX(0);
}

#navigation-menu.type-2 #dl-menu{background-color: #f6f6f6;}
#navigation-menu.type-2 nav > ol > li > a{color:#2e2e2e;}
#navigation-menu.type-2 .dl-menuwrapper{background-color: #f6f6f6;}
#navigation-menu.type-2 .dl-menuwrapper::before{background-color: #f6f6f6;}
#navigation-menu.type-2 .dl-menuwrapper li a{color:#4a4a4a;}
#navigation-menu.type-2 .dl-submenu{background-color: #f6f6f6;}
#navigation-menu.type-2 .dl-submenu::before{background-color: #f6f6f6;}
#navigation-menu.type-2 .action--open{background-color: #f6f6f6;}
#navigation-menu.type-2 .action--open::after{color:#121212;}
#navigation-menu.type-2 .action--close::after{color:#3a3a3a;}
#navigation-menu.type-2 #onlyScroll .nicescroll-cursors{background-color: #2e2e2e !important;}
#navigation-menu.type-2 .dl-menuwrapper li.dl-back a{
	color:#4a4a4a !important;
	background-color: #cfcfcf !important;
}

@media screen and (max-width: 980px) {

	.menu__breadcrumbs{padding-left: 60px;}

	.menu {
		top: 0;
		width: 100%;
		height: 100vh;
		z-index: 1000;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		-webkit-transition: -webkit-transform 0.3s;
		transition: transform 0.3s;
	}
	.menu--open {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	.menu__wrap{overflow-y: auto;}

	.menu__link{font-size: 12px;}
	.menu__breadcrumbs a{font-size: 11px;}

	#dl-menu{
		position: fixed;
		top:0;
		right: 0;
		width:100%;
		height: 100%;
		padding:50px 0;
		overflow-y: auto;
		visibility: hidden;
		opacity: 0;
		background-color: #121212;
		z-index: 99999;
		-webkit-transition: all .2s;
		transition: all .2s;
	}

	#dl-menu.active{
		visibility: visible;
		opacity: 1;
	}

	#navigation-menu nav > ol{overflow: hidden;}

	#navigation-menu nav > ol > li{
		display: block;
		text-align: center;
		margin:10px 0 !important;
	}

	.dl-menuwrapper{
		position: relative;
		width:100%;
		max-width: 300px;
		height: 0;
		text-align: right;
		margin:auto;
		background-color: #f6f6f6;
		-webkit-transition: none;
		transition: none;
		-webkit-transform:translateY(0) !important;
		transform:translateY(0) !important;
	}

	.dl-menuwrapper::before{
		top:-3px;
		right:50%;
		margin-right: -4px;
		background-color: #f6f6f6;
	}

	.dl-menuwrapper li a{
		color:#121212;
		padding:7px 10px 7px 20px;
	}

	.dl-menu,
	.dl-submenu ul{padding:9px 0;}

	.dl-submenu{
		position: relative;
		top:auto;
		left:auto;
		width:calc(100% - 20px);
		height: 0;
		margin:auto;
		background-color: #f6f6f6;
		border:1px dashed #c4c4c4;
		-webkit-transition: none;
		transition: none;
		-webkit-transform:translateX(0) !important;
		transform:translateX(0) !important;
	}

	.dl-submenu::before{
		top:-5px;
		right:15px;
		background-color: #f6f6f6;
		border-top:1px solid #c4c4c4;
		border-left:1px solid #c4c4c4;
	}

	.dl-submenu.active,
	.dl-menuwrapper.active{height: auto;}
	.dl-submenu.active{margin:5px auto;}

	.dl-menuwrapper li:first-child,
	.dl-menuwrapper li:last-child{margin:0;}

	#navigation-menu.type-2 .dl-menuwrapper{background-color: #121212;}
	#navigation-menu.type-2 .dl-submenu{background-color: #121212;}
	#navigation-menu.type-2 .dl-menuwrapper li a,
	#navigation-menu.type-2 .dl-menuwrapper li > a:not(:only-child)::after{color:#cbcbcb;}
	#navigation-menu.type-2 .dl-submenu,
	#navigation-menu.type-2 .dl-submenu::before{border-color:#4e4e4e;}
	#navigation-menu.type-2 .dl-menuwrapper::before,
	#navigation-menu.type-2 .dl-submenu::before{background-color: #121212;}
}

@media screen and (max-width: 480px) {

	
	
}