@font-face {
	font-family: 'Iran';
	font-weight: normal;
	font-style: normal;
	src: url('./Iran.woff') format('woff');
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: 'Iran';
	padding:0;
	margin:0;
	background-color: #f1f1f1;
}

.sample-header{
	position: fixed;
	top:0;
	right: 0;
	width:100%;
	background-color: #121212;
	z-index: 10;
}